<%- include ('partials/navbar.ejs') %>
    <%- include ('partials/header.ejs') %>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>Buscar Dados Cliente</h1>
                </div>
                <div class="card-body">
                    <form action="/clientes/new" method="POST">
                        <label>Nome do Cliente</label>
                        <input type="text" name="nome" id="nome" placeholder="Digite o Nome" class="form-control m-2" required>
                        <label>CPF do Cliente</label>
                        <input type="text" name="cpf" id="cpf" placeholder="Digite o CPF" class="form-control m-2" required>
                        <label>Endereco do Cliente</label>
                        <input type="text" name="endereco" id="endereco" placeholder="Digite o Endereço" class="form-control m-2" required>
                        <button class="btn btn-primary mt-2">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>

        <!---Mostrar Clientes Cadastrados---->
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>Clientes Cadastrados</h1>
                </div>
                <div class="card-body">
                    <table>
                        <thead>
                            <tr>
                                <th style="padding-right: 20px;">Nome:</th>
                                <th style="padding-right: 20px;">CPF:</th>
                                <th style="padding-right: 20px;">Endereço:</th>
                                <th class="m-5" colspan="2">Ações:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% clientes.forEach(cliente => { %>
                            <tr>
                                <td style="padding-right: 20px;"><%= cliente.nome %></td>
                                <td style="padding-right: 20px;"><%= cliente.cpf %></td>
                                <td style="padding-right: 20px;"><%= cliente.endereco %></td>
                                <td><a href="/edit/<%= cliente._id %>" class="btn btn-secondary m-2">Editar</a></td>
                                <td><a href="/delete/<%= cliente._id %>" class="btn btn-danger" onclick="return confirm('Deseja excluir o registro?')">Apagar</a></td>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        
<%- include ('partials/footer.ejs') %>