<%- include ('partials/navbar.ejs') %>
    <%- include ('partials/header.ejs') %>



<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Adicione Produtos</h1>
        </div>
        <div class="card-body">
            <form action="/produtos/new" method="POST">
                <label>Nome do Produto</label>
                <input type="text" name="nome" class="form-control" required placeholder="Digite o nome do produto">
                <label>Preço do Produto</label>
                <input type="text" name="preco" class="form-control" required placeholder="Digite o preço do produto">
                <label>Categoria do Produto</label>
                <input type="text" name="categoria" class="form-control" required placeholder="Digite o categoria do produto">
                <input style="margin-top: 20px;" type="submit" value="Adicionar Produto" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>


<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Produtos</h1>
        </div>
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <td>Nome do Produto</td>
                        <td></td>
                        
                        <td>Preço</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Categoria</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>

                <tbody>

                    <% produtos.forEach(produto => { %>
                        <tr>
                            <td><%= produto.nome %></td>
                            <td></td>
                            
                            <td><%= produto.preco %></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><%= produto.categoria %></td>

                        </tr>

                    <% }) %>
                            
                </tbody>
                        
            </table>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>